.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1vmin;
  font-size: 2vmin;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  background-color: white; 
  z-index: 10;
}

.NavBar {
  a {
    border-radius: 0.8vmin;
    padding: 0.5vmin 1.5vmin;
    text-decoration: none;
    color: #1a1a1a;
  }

  a:hover {
    background-color: #FCB5B5;
    color: whitesmoke;
  }

  a.active {
    background-color: #FCB5B5;
    color: whitesmoke;
  }

  span {
    color: rgb(108, 9, 87);
  }
}